.App {
  background-image: url("./images/ffflux.svg");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p,
a,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

.center-main-box {
  background-color: rgb(212, 212, 212);
  width: 30%;
  height: 80%;
  border-radius: 3px;
  position: relative;
}

.header-main-box {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgb(153, 153, 153);
  padding: 10px;
}

#hamburguer-menu-icon {
  cursor: pointer;
}

.side-menu {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  transition: 1000ms;
  display: none;
}


.side-menu.active {
  display: flex;
  flex-direction: column;
  transition: 1000ms;
  z-index: 1000;
}
.sidebar-filler {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.294);
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  transition: 1000ms;
  display: none;
}

.sidebar-filler.active {
  display: flex;
  flex-direction: column;
  transition: 1000ms;
}

.sidebar-icon{  
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  align-self: flex-end;
  margin: 1rem;
  cursor: pointer;
}

.close-icon{
  background-image: url('./images/close-x.svg');  
}

.close-icon:hover{
  background-image: url('./images/close-x-hover.svg');  
}

.sidebar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.sidebar-container a {
  margin-bottom: 15px;
  cursor: pointer;
  color: #000;
}

.sidebar-container a:hover {
  color: #0d51aa;
  font-weight: bold;
}

.main-box-container {
  padding: 1rem;
  height: 89%;
}

@media screen and (max-width: 1400px) {
  .center-main-box {
    width: 390px;
  }
}

@media screen and (max-width: 450px) {
  .center-main-box {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
