.type-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.editor {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.first-block-type-equation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.buttons__type__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.button__remove__input {
    background-color: rgb(117, 147, 195);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
}

.add-another-equation {
    background-color: rgb(55, 86, 136);
    font-size: 12px;
    width: 50%;
}

.type-title{
    text-align: center;
}

.inputs__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.error__message{
    color: red;
    font-size: 12px;
}

.submit-type-equation{
    width: 50%;
    padding: 5px 10px;
}
